table {
    margin-left: 20px;
    margin-right: 20px;
    border: thin;
    caption-side: bottom;
}

td, th {
    border: thin gray;
    padding: 5px;
}

caption {
    font-style: italic;
    padding-top: 8px;
}

.filename {
    text-decoration: underline;
    color: blue;
}